html {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: row;
}

#input {
    height: fit-content;
    width: fit-content;
    margin: 0px;
   
    padding: 20px 25px 20px 25px;

    border-radius: 20px;
    background-color: rgb(50, 53, 61);

    box-shadow:
     
   
    0.3em 0.3em 1em rgba(50, 53, 61, .5);

}

input, select{
    border: none;
    width: 250px;
    height: 25px;
    border-bottom: 1px;
    margin: 0px;
    padding: 0px;
}

textarea:focus, select, input:focus{
    outline: none;
    color: white
}

textarea, select, input {
    padding: 0px;
    margin: 0px;
    color: white
}



option{
    background-color: rgb(50, 53, 61);
    color: white;
    
}




.input-field {
    border-bottom: 2px;
 
    width: fit-content;

    margin: 0px;
    padding: 0px;

    margin-bottom: 25px;

}

.input-item {
    height: fit-content;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-color: rgb(33, 33, 33);
    background-color: rgba(255, 255, 255, 0);
}

.input-headline {
    margin: 0px;
    padding: 0px;

    
}

select {
 
    margin: 0px;
    padding: 0px;
}

label, p{
    
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 8px;
    font-weight: 700;
}

#cv-input {
    
}


.custom-input {
    
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff7b00;
    color: white;
   
    font-size: 12px;
   
    text-align: center;

    display: none;
}

.jobs-input {
    background-color: grey;
}


.formular {
  
}

